.members-container {
  margin-top: 20px;
}

.members-heading {
  text-align: center;
  margin: 30px;
  font-size: 30px;
  color: #74c1e5;
}

.button-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 20px;
}

@media screen and (max-width: 530px) {
  .button-container {
    flex-direction: column;
  }
}
