.table-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.day-row {
  display: flex;
}

.table-row {
  display: flex;
}

.box {
  width: 115px;
  height: 115px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.edit-box {
  width: 130px !important;
  height: 130px !important;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.table-task {
  justify-content: space-between;
}

.table-task-name,
.day {
  font-weight: bold;
  letter-spacing: 1.2px;
}

.table-task-name {
  color: #29d3c0;
}

.day {
  justify-content: center;
  color: #29d3c0;
}

#selected-box2 {
  background: beige;
}

.table-task-teacher,
.table-task-time-edit {
  font-size: 13px;
}

.time {
  display: none;
}

.table-task-time-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.table-task-time-edit {
  width: 105px !important;
  padding: 5px !important;
  margin-bottom: 5px;
}

.update-btn-edit {
  outline: none;
  background: transparent;
  border: none;
  width: 150px;
  height: 60px;
  font-weight: bold;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 16rem;
  color: rgb(37, 37, 37);
  background: var(--primary-button-gradient);
  font-weight: bold;
  transform: translate(0, 25px);
  cursor: pointer;
  border: 5px solid #262440;
  transition: all 0.2s;
  margin-right: 20px;
}

.buttons-setting-header {
  display: flex;
}

.day-row-edit-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.day-row-edit-header-button {
  color: rgb(37, 37, 37);
  background: var(--primary-button-gradient);
  width: 50px;
  height: 50px;
  font-size: 13px;
  border: none;
  margin: 3px;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  transition: all 0.1s;
}

.day-row-edit-header-button:hover {
  transform: translate(0, -5px);
}

.fa-edit-button-icon {
  margin-right: 0 !important;
}

.buttons {
  margin-bottom: 40px;
  display: flex;
}

.update-btn-edit:hover {
  transform: translate(0, 20px);
}

.update-btn-edit,
.update-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.update-btn-back {
  height: 60px;
  border-radius: 16rem;
}

.add-column-edit-btn {
  width: 180px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #29d3c0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  margin: 100px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input {
  background: #262440;
  border: none;
  border-bottom: 2px solid #333150;
  padding: 5px;
  width: 100px;
  outline: none;
  transition: all 0.3s;
}

input:focus {
  border-bottom: 2px solid #29d3c0;
}

.table-name-edit-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

.table-edit-heading-name {
  margin: 0 !important;
  margin-right: 15px;
}

.edit-table-name {
  padding: 15px;
  border-radius: 50%;
  margin: 0 15px;
  background: var(--primary-button-gradient);
  cursor: pointer;
}

.table-task-edit-input {
  width: 105px !important;
  padding: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  .update-btn-edit {
    width: 125px !important;
    font-size: 17px;
  }
  .update-btn-edit > .fa {
    font-size: 17px;
  }
}

@media screen and (max-width: 630px) {
  .buttons {
    flex-direction: column;
  }
  .update-btn-edit {
    margin: 5px 0 !important;
  }
}
