.table-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 100%;
}

.day-row {
  display: flex;
  align-items: flex-end;
}

.table-row {
  display: flex;
}

.table-task {
  justify-content: space-between;
}

.table-task-name,
.day {
  font-weight: bold;
  letter-spacing: 1.2px;
}

.table-task-name {
  color: #29d3c0;
}

.day {
  justify-content: center;
  color: black !important;
  background: linear-gradient(180deg, #e5e6e9, #d5d6da, #abadb1);
}

#selected-box {
  background: linear-gradient(180deg, #e7e2a3, #ffe65f);
}

#selected-box > .table-task-time,
#selected-box > .table-task-name,
#selected-box > .table-task-teacher {
  color: black;
}

#selected-box > .table-task-time,
#selected-box > .table-task-teacher {
  font-weight: 800;
  color: #682626;
}

#selected-box > .table-task-name {
  color: black;
  letter-spacing: normal;
}

.table-task-teacher,
.table-task-time {
  font-size: 13px;
}

.table-task-name,
.table-task-teacher {
  inline-size: 115px;
  overflow-wrap: break-word;
  text-align: center;
}

.time {
  display: none;
}

.table-heading-name {
  font-weight: 500;
  margin-top: 30px;
  text-align: left;
  font-size: 30px;
  color: #29bfd3;
}
.update-btn {
  outline: none;
  background: transparent;
  border: none;
  width: 70px;
  height: 70px;
  font-size: 18px;
  border-radius: 50%;
  background: var(--primary-button-gradient);
  font-weight: bold;
  transform: translate(0, 25px);
  cursor: pointer;
  border: 5px solid #262440;
  transition: all 0.2s;
  margin-right: 20px;
}

.edit-redirect-btn {
  margin-bottom: 20px;
  border-radius: 16rem;
  width: 150px;
  color: rgb(37, 37, 37);
  font-weight: bold;
  height: 60px;
}

.fa {
  color: rgb(37, 37, 37);
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
}

.update-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-btn:hover {
  transform: translate(0, 20px);
}

.index {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 22px;
  width: 119px;
  height: 10px;
  padding: 10px;
  background: linear-gradient(180deg, #e5e6e9, #d5d6da, #abadb1);
}

.last-index {
  border-top-right-radius: 5px;
}

#first-index {
  border-top-left-radius: 5px;
}

.index:hover {
  background: linear-gradient(0deg, #e5e6e9, #d5d6da, #abadb1);
}

.table-date {
  font-size: 20px;
  font-weight: 500 !important;
  margin-top: 30px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #29d3c0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 100px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
